$color-primary: #7d7777;
$color-secondary: #7b46ed;
$navbar-color: #f6f8f9;
$footer-color: #111a27;
$logo-color: linear-gradient(91.8deg, #9740d4 7.16%, #f6976c 86.9%);
$text-color: linear-gradient(
  92.13deg,
  #7b46ed 31.18%,
  rgba(188, 86, 214, 0.65) 71.46%
);
$dark-color: #10172e;
$light-color: rgb(255, 255, 255);
